@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Travel Reviews!</h1>
    <p>Come read about <a href="/reviews"> travel reviews</a> from all over the world!</p>
</div>
